<div class="container" ng-controller="DetailController"  data-ng-init="loadArticles()">
    <header class="jumbotron">

        <!-- Main component for a primary marketing message or call to action -->

        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-8">
                    <h1>NewsBlitz</h1>
                    <p style="padding:40px;"></p>
                    <p>Welcome {{userObj.firstname}} , Here is today's news</p>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <p style="padding:10px;"></p>
                    <img src="images/logo.jpg" class="img-responsive">
                </div>
                <div class="col-xs-12 col-sm-2">
                </div>
            </div>
        </div>
    </header>

    <div class="row row-content">

        <div class="well" ng-repeat="article in articles">
            <div class="media" ng-click="openLink()">
                <div class="media-left media-middle">
                    <a href="#">
						<img class="media-object img-thumbnail" height=180 width=180 alt="" src = "{{article.urlToImage}}">
					</a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading" >{{article.title}}</h2>
                    <p>{{article.description}}</p>
                    <a class="detail-page-link" href="{{article.url}}" target="_blank">Read full article</a>
                </div>
            </div>
        </div>




    </div>
</div>