<footer class="footer">
    <div class="container" >
        <span class="text-muted" style="float: center;"><a href="http://newsapi.org" target="_blank">Powered by News API</a></span>
    </div>
</footer>