<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="HeaderController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="app"><img src="images/logo.jpg" height=30 width=32></a>
            </div>
            <div id="navbar-collapse-1" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/home')}">
                        <a ui-sref="home">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
                    </li>
                    <li ng-click="aboutus()">
                        <a>
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a>
                    </li>
                    <li ng-class="{ active: isActive('/subscriptions')}">
                        <a ui-sref="subscriptions">
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Edit subscriptions
					</a>
                    </li>
                    <li ng-click="logoutfunc()">
                        <a>
						<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
