<div class="container" ng-controller="HomeController" data-ng-init="getUserInfo()" >

    <header class="jumbotron">

        <!-- Main component for a primary marketing message or call to action -->

        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-8">
                    <h1>NewsBlitz</h1>
                    <p style="padding:40px;"></p>
                    <p>Welcome {{userObj.firstname}} , Here is today's news</p>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <p style="padding:10px;"></p>
                    <img src="images/logo.jpg" class="img-responsive">
                </div>
                <div class="col-xs-12 col-sm-2">
                </div>
            </div>
        </div>
    </header>

    <div class="row row-content" data-ng-init="">

        <div class="well" ng-repeat="source in userSubscriptions">
            <div class="media" data-ng-init="getImageAndHeadline(source)">
                <div class="media-left media-middle">
                    <a href="#">
						<img class="media-object img-thumbnail" height=180 width=180 src= "" alt="images/alt.png" id = "{{source.id}}_image">
					</a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading" id = "{{source.id}}_title"></h2>
                    <p id = "{{source.id}}_description"></p>
                    <a class="detail-page-link" href="#!/detail:{{source.id}}">Read more from {{source.name}}</a>
                </div>
            </div>
        </div>




    </div>
</div>