<div class="container" ng-controller="LoginController">

  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in to continue</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" name="inputEmail" ng-model="inputEmail" class="form-control" placeholder="Email address"
      required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="inputPassword" ng-model="inputPassword" class="form-control" placeholder="Password"
      required>

    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign in</button>
    <br>
    <a href="#!/register">New user ? Register here</a>

  </form>

</div>