<div class="container" ng-controller="RegistrationController">
    <div class="row">
        <h2>NewsBlitz SignUp</h2>

        <form class="form-horizontal">
            <fieldset>

                <legend>All fields are mandatory</legend>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="firstname">First Name</label>
                    <div class="col-md-4">
                        <input id="firstname" ng-model="firstname" name="firstname" placeholder="Enter your First Name" class="form-control input-md" required="required" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="lastname">Last Name</label>
                    <div class="col-md-4">
                        <input id="lastname" ng-model="lastname" name="lastname" placeholder="Enter your Last Name" class="form-control input-md" required="required" type="text">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="emailAddress">Email</label>
                    <div class="col-md-4">
                        <input id="emailAddress" ng-model="emailAddress" name="emailAddress" placeholder="Enter your Email address" class="form-control input-md" required="required" type="email">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="password">Password</label>
                    <div class="col-md-4">
                        <input id="password" ng-model="password" name="password" placeholder="Enter your Password" class="form-control input-md" required="" type="password">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="password_confirm">Confirm Password</label>
                    <div class="col-md-4">
                        <input id="password_confirm" ng-model="password_confirm" name="password_confirm" placeholder="Confirm your Password" class="form-control input-md" required="required" type="password">
                        <span class="help-block"> </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label" for="singlebutton"> </label>
                    <div class="col-md-4">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="registration()">Submit</button>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
</div>