<div class="container" ng-controller="SubscriptionsController" >
    
    <div class="row" data-ng-init="loadSubscriptions()">
        <h2>Choose the news sources you want to subscribe to</h2>
        <div ng-repeat="source in sources">
            <label class="big-checkbox custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id={{source.id}} data-ng-checked="setStatus(source.id)" ng-click="updateSubscription(source.id, source.name)">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">{{source.name}}</span>
            </label>
        </div>
    </div>
</div>